/* .grid-container{
    display: grid;
    grid-template-columns: 200px 300px 400px 1fr;
    grid-template-rows: 200px 300px 400px 1fr;
    gap: 4px;
}
.box{
    background-color: yellow;
    display: grid;
    place-items: center;
} */

.grid-container{
    display: grid;

    grid-auto-columns: 120px;
    grid-auto-rows: 120px;

    gap: 10px;

    grid-template-areas:
        "box1 box5 box5"
        "box1 box4 box3"
        "box2 box4 box3";
}

.box{
    background-color: yellow;
    display: grid;
    place-items: center;
}