.footer-container{
    background-color: var(--footer-bg);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p{
    color: var(--footer-text);
    margin: 0;
}