body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
main {
    width: 600px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(36, 113, 73, 0.575);
    border: 1px solid #ccc;
}
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button:hover {
    background-color: #bdf1c0;
}
label {
    font-size: 16px;
    font-weight: bold;
}
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
input{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
