.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-box {
    width: 320px;
    background: var(--card-bg);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.card-box:hover {
    transform: translateY(-8px);
    box-shadow: var(--shadow-hover);
}

.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 18px;
}

.course-title {
    font-size: 1.4rem;
    color: var(--text-primary);
    margin-bottom: 12px;
}

.course-info {
    color: var(--text-secondary);
    font-size: 15px;
    margin-bottom: 18px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    background: var(--price-gradient);
    color: white;
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.level {
    background: var(--level-bg);
    color: var(--level-text);
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: 600;
}

.enroll-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: var(--button-gradient);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.enroll-btn:hover {
   background: var(--button-hover-gradient);
    transform: scale(1.02);
}